h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}


.title {
  text-align: center;
}
/*GODLIKE IMG CENTER TECHNIQUE*/
.page-logo {
  position: relative;
  width: 300px;
  heigh: auto;
  margin-left: -150px;
  left: 50%;
}

/*modal stuff*/
.modal-body{
  height: 250px;
  overflow-y: auto;
}

/*item cards styling*/
.item-img{
  width: 80px;
  heigh: auto;
}

.item-thumbnail{
  width: 200px;
  max-width: 200px;
  height: 400px;
  max-heigh: 400px;
  text-align: center;
}

.small-item-thumbnail{
  width: 80px;
  height: 100px;
  text-align: center;
  font-size: 0.9vw;
}

.small-item-img{
  width: 40px;
  heigh: 40px;
}

.item-slot-stats {
  margin: 0;
  padding: 10px;
  text-align: left;
  font-size: 0.9vw;
}
