h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.title {
  text-align: center;
}
/*GODLIKE IMG CENTER TECHNIQUE*/
.page-logo {
  position: absolute;
  width: 300px;
  heigh: auto;
  margin-left: -150px;
  left: 50%;
}
